[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"
[build.environment]
  SECRETS_SCAN_OMIT_KEYS = "SMTP_USER,VITE_HCAPTCHA_SITE_KEY"

[[redirects]]
  from = "/api/rfq"
  to = "/.netlify/functions/rfq"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
