@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

@keyframes orbit-spin {
  to {
    transform: rotate(360deg);
  }
}

.orbit-spin {
  animation: orbit-spin 14s linear infinite;
}

.orbit-spin-slow {
  animation: orbit-spin 18s linear infinite;
}

.orbit-spin-reverse {
  animation: orbit-spin 16s linear infinite reverse;
}
